/*
COLORS:

Light green: #7ed56f
Medium green: #55c57a
Dark green: #28b485

*/

/* PRESETS */
*,
*::after,
*::before{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
   font-size: 62.5%;                /* 10px */
}


body{
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    color: #777;
    line-height: 1.7;
    padding: 3rem;
}

/* HEADINGS */
.header{
    background-image:linear-gradient(to bottom right,
    rgba(126, 213, 111, 0.80),
    rgba(40, 180, 133, 0.80)),
    url(../img/hero.jpg);
    background-position: top;
    background-size: cover;
    height: 95vh;
    clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%, 0 100%);
    position: relative;
}

/* logo */
.logo-container{
    position: absolute;
    top: 4rem;
    left: 4rem;
}

.logo{
    height: 3.5rem;
}


/* title */
.title-container{
    position: absolute;
    top: 35%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
}

.title{
    color: #fff;
    text-transform: uppercase;   
    backface-visibility: hidden;    /* this is added to avoid shakiness of any animation we apply*/
    margin-bottom: 4rem;
}



.title-main{
    display: block;
    font-weight: 400;
    font-size: 6rem;
    letter-spacing: 3rem;
    animation-name: moveInLeft;
    animation-duration: 1.5s;
    animation-timing-function: ease-out;
    animation-fill-mode: backwards;

    
}

.title-sub{
    display: block;
    font-weight: 700;
    font-size: 2rem;
    letter-spacing: 1.75rem;
    animation: moveInRight 1.5s ease-out;
    animation-fill-mode: backwards; 
}


/* button */
.btn:link,
.btn:visited{
    text-decoration: none;
    text-transform: uppercase;
    padding: 1.5rem 4rem;
    display: inline-block;
    border-radius: 10rem;
    transition: all 0.2s;
    position: relative;
    font-size: 1.6rem;
}


.btn:hover{
    transform: translateY(-0.3rem);
    box-shadow: 0 1rem 2rem rgba(0,0,0,0.2);   /* offset-x | offset-y | blur-radius | color */
}

.btn:active{
    transform: translateY(-0.1rem);
    box-shadow: 0 .5rem 1rem rgba(0,0,0,0.2);
}

.btn-white{
    background-color: #fff;
    color: #777;
}

.btn-animated{
    animation: moveInBottom 1.5s ease-out 0.75s;   /*name|duration|timing-func|delay*/ 
    animation-fill-mode: backwards;
}

.btn::after{
    content: "";
    display: inline-block;
    height: 100%;
    width: 100%;
    border-radius: 100px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    transition: all .4s;
}


.btn:hover::after{
    transform: scale(1.4,1.6);
    opacity: 0;
}

.btn-white::after{
    background-color: #fff;
}






/* ANIMATION RULES */

@keyframes moveInLeft {
    0%{
        opacity: 0;
        transform: translateX(-10rem);  /*this moves it in from the left */
    }
    
    80%{
        transform: translateX(1rem)
    }

    100%{
        opacity: 1;                  /* completely visible */
        transform: translate(0);    
       
    }
}



@keyframes moveInRight{
    0%{
        opacity: 0;
        transform: translateX(10rem);   /* this moves it in from the right */
    }
    
    80%{
        transform: translateX(-1rem)

    }

    100%{
        opacity: 1;                    
        transform: translate(0);
    }
}


@keyframes moveInBottom{
    0%{
        opacity: 0;
        transform: translateY(10rem);   /* this moves it in from the right */
    }

    100%{
        opacity: 1;                    
        transform: translate(0);
    }
}

