/*
COLORS:

Light green: #7ed56f
Medium green: #55c57a
Dark green: #28b485

*/

/* PRESETS */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Lato', sans-serif;
    font-size: 16px;
    font-weight: 400;
    color: #777;
    line-height: 1.7;
    padding: 30px;
}

/* HEADINGS */
.header{
    background-image:linear-gradient(to bottom right,
    rgba(126, 213, 111, 0.80),
    rgba(40, 180, 133, 0.80)),
    url(../img/hero.jpg);
    background-position: top;
    background-size: cover;
    height: 95vh;
    clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%, 0 100%);
    position: relative;

}

/* logo */
.logo-container{
    position: absolute;
    top: 40px;
    left: 40px;
}

.logo{
    height: 35px;
}


/* title */
.title-container{
    position: absolute;
    top: 35%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.title{
    color: #fff;
    text-transform: uppercase;   
    backface-visibility: hidden;    /* this is added to avoid shakiness of the animation */
}



.title-main{
    display: block;
    font-weight: 400;
    font-size: 60px;
    letter-spacing: 30px;
    animation-name: moveInLeft;
    animation-duration: 1.5s;
    animation-timing-function: ease-out;
    
}

.title-sub{
    display: block;
    font-weight: 700;
    font-size: 20px;
    letter-spacing: 17.4px;
    animation: moveInRight 1.5s ease-out;
}


/* ANIMATION RULES */

@keyframes moveInLeft {
    0%{
        opacity: 0;
        transform: translateX(-100px);  /*this moves it in from the left */
    }
    
    80%{
        transform: translateX(10px)
    }

    100%{
        opacity: 1;                  /* completely visible */
        transform: translate(0);    
       
    }
}



@keyframes moveInRight{
    0%{
        opacity: 0;
        transform: translateX(100px);   /* this moves it in from the right */
    }
    
    80%{
        transform: translateX(-10px)

    }

    100%{
        opacity: 1;                    
        transform: translate(0);
    }
}